<a href="https://colab.research.google.com/github/wahyunh10/Project-Ecommerce-Shipping-Clasification-Modeling/blob/main/Stage_3_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from scipy import stats

In [2]:
df = pd.read_csv('Full_data.csv')

In [3]:

nums = ['Customer_care_calls', 'Customer_rating', 'Prior_purchases', 'Discount_offered', 'Cost_of_the_Product', 'Weight_in_gms', 'Reached.on.Time_Y.N']
cats = ['Mode_of_Shipment', 'Product_importance', 'Gender','Warehouse_block']

In [4]:
df2 = df.copy()
print(f'Jumlah baris sebelum memfilter outlier: {len(df2)}')

filtered_entries1 = np.array([True] * len(df2))

for col in nums:
    zscore = abs(stats.zscore(df2[col])) # hitung absolute z-scorenya
    filtered_entries1 = (zscore < 3) & filtered_entries1 # keep yang kurang dari 3 absolute z-scorenya
    
df2 = df2[filtered_entries1] # filter, cuma ambil yang z-scorenya dibawah 3

print(f'Jumlah baris setelah memfilter outlier: {len(df2)}')

Jumlah baris sebelum memfilter outlier: 10999
Jumlah baris setelah memfilter outlier: 10642

In [5]:
df2['Customer_rating'] = MinMaxScaler().fit_transform(df2['Customer_rating'].values.reshape(len(df2), 1))

#Standarisasi :
df2['Customer_care_calls'] = StandardScaler().fit_transform(df2['Customer_care_calls'].values.reshape(len(df2), 1))
df2['Cost_of_the_Product'] = StandardScaler().fit_transform(df2['Cost_of_the_Product'].values.reshape(len(df2), 1))
df2['Prior_purchases'] = StandardScaler().fit_transform(df2['Prior_purchases'].values.reshape(len(df2), 1))
df2['Discount_offered'] = StandardScaler().fit_transform(df2['Discount_offered'].values.reshape(len(df2), 1))
df2['Weight_in_gms'] = StandardScaler().fit_transform(df2['Weight_in_gms'].values.reshape(len(df2), 1))

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10642 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10642 non-null  int64
 1   Warehouse_block      10642 non-null  object
 2   Mode_of_Shipment     10642 non-null  object
 3   Customer_care_calls  10642 non-null  float64
 4   Customer_rating      10642 non-null  float64
 5   Cost_of_the_Product  10642 non-null  float64
 6   Prior_purchases      10642 non-null  float64
 7   Product_importance   10642 non-null  object
 8   Gender               10642 non-null  object
 9   Discount_offered     10642 non-null  float64
 10  Weight_in_gms        10642 non-null  float64
 11  Reached.on.Time_Y.N  10642 non-null  int64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.1+ MB

In [7]:
df2.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10642.000000,1.064200e+04,10642.000000,1.064200e+04,1.064200e+04,1.064200e+04,1.064200e+04,10642.000000
mean,5570.347773,2.777540e-16,0.497298,-5.341423e-17,-1.068285e-16,2.136569e-17,6.409707e-17,0.590303
std,3159.806013,1.000047e+00,0.353086,1.000047e+00,1.000047e+00,1.000047e+00,1.000047e+00,0.491801
min,1.000000,-1.803627e+00,0.000000,-2.383302e+00,-1.135516e+00,-7.689960e-01,-1.613343e+00,0.000000
25%,2881.250000,-9.304889e-01,0.250000,-8.440579e-01,-3.595969e-01,-5.688870e-01,-1.103516e+00,0.000000
50%,5604.500000,-5.735048e-02,0.500000,9.196863e-02,-3.595969e-01,-3.687781e-01,3.204627e-01,1.000000
75%,8300.750000,8.157880e-01,0.750000,8.407899e-01,4.163217e-01,-1.686692e-01,8.642883e-01,1.000000
max,10999.000000,2.562065e+00,1.000000,2.068025e+00,3.519996e+00,3.233183e+00,2.561018e+00,1.000000

In [8]:
# df2['log_prior_purchases'] = np.log(df2['Prior_purchases'])
# df2['log_discount_offered'] = np.log(df2['Discount_offered'])
# df2['log_weight_in_gms'] = np.log(df2['Weight_in_gms'])
# df2['log_cost_of_the_Product'] = np.log(df2['Cost_of_the_Product'])
# df2['log_customer_care_calls'] = np.log(df2['Customer_care_calls'])

# df2 = df2.drop(columns=['ID', 'Prior_purchases', 'Discount_offered', 'Weight_in_gms','Cost_of_the_Product', 'Customer_care_calls'])
# df2.describe()

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10642 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10642 non-null  int64
 1   Warehouse_block      10642 non-null  object
 2   Mode_of_Shipment     10642 non-null  object
 3   Customer_care_calls  10642 non-null  float64
 4   Customer_rating      10642 non-null  float64
 5   Cost_of_the_Product  10642 non-null  float64
 6   Prior_purchases      10642 non-null  float64
 7   Product_importance   10642 non-null  object
 8   Gender               10642 non-null  object
 9   Discount_offered     10642 non-null  float64
 10  Weight_in_gms        10642 non-null  float64
 11  Reached.on.Time_Y.N  10642 non-null  int64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.1+ MB

In [10]:
# Label Encoding
mapping_Product_importance = {
    'low' : 0,
    'medium' : 1,
    'high' : 2
}

mapping_Gender = {
    'F' : 0,
    'M' : 1
}

df2['Product_importance'] = df2['Product_importance'].map(mapping_Product_importance)
df2['Gender'] = df2['Gender'].map(mapping_Gender)

In [11]:
for cat in ['Mode_of_Shipment', 'Warehouse_block']:
    onehots = pd.get_dummies(df2[cat], prefix=cat)
    df2 = df2.join(onehots)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10642 entries, 0 to 10998
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10642 non-null  int64
 1   Warehouse_block          10642 non-null  object
 2   Mode_of_Shipment         10642 non-null  object
 3   Customer_care_calls      10642 non-null  float64
 4   Customer_rating          10642 non-null  float64
 5   Cost_of_the_Product      10642 non-null  float64
 6   Prior_purchases          10642 non-null  float64
 7   Product_importance       10642 non-null  int64
 8   Gender                   10642 non-null  int64
 9   Discount_offered         10642 non-null  float64
 10  Weight_in_gms            10642 non-null  float64
 11  Reached.on.Time_Y.N      10642 non-null  int64
 12  Mode_of_Shipment_Flight  10642 non-null  uint8
 13  Mode_of_Shipment_Road    10642 non-null  uint8
 14  Mode_of_Shipment_Ship    10642 non-null  uint8
 15  Warehouse_block_A        10642 non-null  uint8
 16  Warehouse_block_B        10642 non-null  uint8
 17  Warehouse_block_C        10642 non-null  uint8
 18  Warehouse_block_D        10642 non-null  uint8
 19  Warehouse_block_F        10642 non-null  uint8
dtypes: float64(6), int64(4), object(2), uint8(8)
memory usage: 1.4+ MB

In [13]:
df2 = df2.drop(columns=['Mode_of_Shipment', 'Warehouse_block'])

In [14]:
df2.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F
count,10642.000000,1.064200e+04,10642.000000,1.064200e+04,1.064200e+04,10642.000000,10642.000000,1.064200e+04,1.064200e+04,10642.000000,10642.000000,10642.000000,10642.000000,10642.000000,10642.000000,10642.000000,10642.000000,10642.000000
mean,5570.347773,2.777540e-16,0.497298,-5.341423e-17,-1.068285e-16,0.596786,0.496711,2.136569e-17,6.409707e-17,0.590303,0.162375,0.160026,0.677598,0.166980,0.167074,0.166416,0.166980,0.332550
std,3159.806013,1.000047e+00,0.353086,1.000047e+00,1.000047e+00,0.637518,0.500013,1.000047e+00,1.000047e+00,0.491801,0.368812,0.366648,0.467418,0.372975,0.373059,0.372471,0.372975,0.471149
min,1.000000,-1.803627e+00,0.000000,-2.383302e+00,-1.135516e+00,0.000000,0.000000,-7.689960e-01,-1.613343e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2881.250000,-9.304889e-01,0.250000,-8.440579e-01,-3.595969e-01,0.000000,0.000000,-5.688870e-01,-1.103516e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5604.500000,-5.735048e-02,0.500000,9.196863e-02,-3.595969e-01,1.000000,0.000000,-3.687781e-01,3.204627e-01,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8300.750000,8.157880e-01,0.750000,8.407899e-01,4.163217e-01,1.000000,1.000000,-1.686692e-01,8.642883e-01,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,10999.000000,2.562065e+00,1.000000,2.068025e+00,3.519996e+00,2.000000,1.000000,3.233183e+00,2.561018e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
# #export data clean and transform
# df2.to_csv('data_clean.csv', index=False)

# **RandomForest**

In [16]:
def model_evaluation(model, pred, xtrain, ytrain, xtest, ytest):
    print('Accuracy : %.2f' % accuracy_score(ytest, pred))
    print('Precision : %.2f' % precision_score(ytest, pred))
    print('Recall : %.2f' % recall_score(ytest, pred))
    print('F-1Score : %.2f' % f1_score(ytest, pred))
    
    fpr, tpr, thresholds = roc_curve(ytest, pred, pos_label=1) 
    print('ROC AUC : %.2f' % auc(fpr, tpr))
    
    # Average precision score
    average_precision = average_precision_score(ytest, pred)
    print('AP : %.2f'% average_precision)

In [17]:
# Feature Importance Function
def feature_importance(model, x):
    feat_importances = pd.Series(model.best_estimator_.feature_importances_, index = x.columns)
    ax = feat_importances.nlargest(25).plot(kind = 'barh', figsize = (10, 8))
    ax.invert_yaxis()

# Best Hyperparameter Function
def best_hyperparameter(model, hyperparameters):
    for key, value in hyperparameters.items() :
        print('Best '+key+':', model.get_params()[key])

In [18]:
X = df2.drop(columns = ['ID','Reached.on.Time_Y.N','Customer_care_calls', 'Customer_rating'])
y = df2['Reached.on.Time_Y.N']

In [20]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import precision_recall_curve, plot_precision_recall_curve, average_precision_score
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.model_selection import validation_curve

# Evaluation Metrics
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model = RandomForestClassifier(random_state = 42)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
model_evaluation(model, prediction, X_train, y_train, X_test, y_test)
param_grid = { 
    'n_estimators': [200, 700],
    'max_features': ['auto', 'sqrt', 'log2']
}

Accuracy : 0.65
Precision : 0.72
Recall : 0.64
F-1Score : 0.68
ROC AUC : 0.65
AP : 0.67

In [21]:
# Model Validation Accuracy
print('train Accuracy : ', model.score(X_train, y_train))
print('test Accuracy : ', model.score(X_test, y_test))

train Accuracy :  1.0
test Accuracy :  0.6481916392672616